@media (max-width: 1169px) {
    .cont{padding:0 30px}
	 .main-prices__content{padding:20px 40px}
	 .main-prices__col{-webkit-box-flex:0;-ms-flex:0 0 47%;flex:0 0 47%;width:47%}
    .prices .discount{right:-150px}
    .consult_block .your_consult{right:-5px}
    .consult_block .text{padding-left:50px}
    .consult_block .link{margin-left:50px}
    .bottom_block .grid,.all_be_honest .grid{padding:0 45px}
    .wow_effect .text{width:655px;padding-left:0}
    .discount_block .info{padding-left:0}
    .instagram_block .slider{padding:0 40px}
    .instagram_block .owl-carousel .owl-nav .owl-prev{left:-15px}
    .instagram_block .owl-carousel .owl-nav .owl-next{right:-15px}
    .instagram_block .bottom{margin-top:40px}
    .coloring .text_info img{left:-55px}
    .coloring .bottom .img{margin-right:-30px}
    .wow_effect .text.no_pad{width:690px}
    .subscribe_block .info{padding-top:0}
    .subscribe_block .info .desc br{display:none}
    .portfolio_page .head{background-position:calc(50% + 30px) 100%}
    .coloring .info, .info_block{padding:30px 20px}
    .coloring .text_info .img{left:-65px}
    .coloring .text_info .title{font-size:23px;line-height:31px}
    .materials .info{width:655px;padding-right:0}
    .toning .text_block{width:700px;max-width:100%}
	 .footer-contacts{-webkit-box-flex:0;-ms-flex:0 0 220px;flex:0 0 220px;width:220px}
	 #contacts .info .cont{grid-gap:5%}
	 .contacts-info__inner{padding:25px 30px}
	 .contacts-info__col.contacts-info__col--left{padding:7px 40px 7px 0}
	 .contacts-info__col.contacts-info__col--middle{padding:7px 45px}
	 .contacts-info__col.contacts-info__col--right{padding:7px 0 7px 40px}
	 .masters__slider .owl-nav .owl-prev{left:-20px;right: auto}
	 .masters__slider .owl-nav .owl-next{right:-20px;left: auto}
}